//Auto Generate Don't Edit it
using Mono.Data.Sqlite;

namespace {{.NameSpace}}
{
    public partial class TD{{.ClassName}}
    {

        {{.Attribute}}}
        {{.Mebmber}}

		public void ReadRow(SqliteDataReader reader)
        {
       	   
           {{.InitValue}}
        }
    }
}